[2015-09-13 22:14] ghost opened #1 "Add additional directive to provide a responsive video.js container"
Video.js isn't responsive out of the box so an additional directive that provides responsive capabilities is required.

[2015-09-23 02:52] ghost opened #2 "Add ability to get reference to the video.js element created by the directive"
The plan is to emit an event to communicate the desired information. Some other ideas were to use two way data binding and/or promises however I'm not sure of the implementation details for those solutions.

[2015-09-25 03:07] #2 closed, assigned to nobody

[2015-09-25 23:45] ghost commented on #1
This was resolved and merged with 293b6b2.

[2015-09-25 23:45] #1 closed, assigned to nobody

[2015-09-26 00:42] ghost opened #4 "The vjs responsive container video is not centered in fullscreen mode"
When using the video container in fullscreen mode, the top of the video appears pushed towards the bottom of the screen as seen below:

![image](https://cloud.githubusercontent.com/assets/3581761/10114803/7a084f00-63c5-11e5-9393-218a6cbbe052.png)

@NateRudolph do you have any idea why this could be happening? After this is resolved and we clean up the documentation, this should be ready to be push

[2015-09-28 02:15] ghost opened #5 "Create sources/tracks attribute to leverage angular's data binding capabilities"
Angular has strong data binding capabilities and could be leveraged by creating a two way data blinded directive attribute that defines the sources and tracks used for the video. Changing the object would swap out the video sources/tracks on the fly.

[2015-10-07 02:26] ghost commented on #5
The final implementation of this feature works as follows

### Define vjs-media attribute

[code]

### Declare vjs-media object

The  media object should be contain a `poster` element, as well as arrays of `sources` and tracks.

[code]

Whenever the media object values are changed, the directive will reload video.js with the proper sources.

[2015-10-07 02:27] #5 closed, assigned to nobody

[2015-10-08 04:02] ghost opened #7 "Add support for video.js 5.0"
Video.js 5.0 was recently released. Currently, the directive is targeted to work for 4.x. Add support for 5.x as well.
- [x] videos do not properly remove during data binding
- [x] `vjs-video-container` throws error because a width and hight of auto is invalid in video.js 5.x
- [x] the `vjs-video-container` directive is obsolete in 5.0 and should alert the user

[2015-10-10 02:38] ghost opened #8 "Remove external template for vjs-video-container"
The angular template for `vjs-video-container` consists of two HTML elements and isn't worth the extra overhead of breaking out the markup in another file. The template should be inlined to remove the extra complexity.

[2015-10-10 02:56] #8 closed, assigned to nobody

[2015-10-15 02:12] #7 closed, assigned to nobody

[2015-10-16 01:04] ghost opened #9 "Need a method to specify default track for bindable track sources"
Currently, there isn't a way to define the default track when using the bindable media sources.

[2015-10-16 01:13] #9 closed, assigned to nobody

[2015-10-26 03:06] ghost commented on #4
With recent changes, this no longer is an issue, closing it out.

[2015-10-27 01:18] #4 closed, assigned to nobody

[2015-10-31 02:42] ghost opened #10 "The vis-video directive fails to load sources on iOS devices"
When testing the `vjs-video` directive with iOS the video does not load. It appears to only be an issue with mobile as all desktop browsers tested properly load the video.

[2015-10-31 03:10] #10 closed, assigned to nobody

[2015-11-12 20:15] ryanvanderpol opened #12 "Error thrown when using the VideoJS YouTube plugin"
Just ran into a problem where I've added the [VideoJS YouTube plugin](https://github.com/eXon/videojs-youtube) and as soon as I specify `youtube` in the `techOrder` array I get the following error message

[code]

It looks like the inclusion of the YouTube plugin converts the video element into an div element.  I'll continue looking into it and report back if I find anything interesting.

[2015-11-13 03:44] ghost commented on #12
Thanks for the pointing this out. I hadn't tested with other plugins as of yet. I'll take a look!

[2015-11-13 04:24] ghost commented on #12
@ryanvanderpol Could you show me a snippet of what you are doing? I just did a simple test by adding the following to the `main.html` page of the `vis-video` project and everything appeared to work without issue:

[code]

[2015-11-13 18:06] ryanvanderpol commented on #12
Yeah, this turned out to be a fairly weird issue.  It seems that something was converting the `video` tags into `div` tags.  It might have been the YouTube plugin, it might have been the YouTube Javascript API, I'm not really sure.

Unfortunately, I don't really have any code to share anymore because I was not able to resolve it so I switched everything over to Videogular instead.

[2015-11-14 04:31] ghost commented on #12
@ryanvanderpol ok, I'll close this out but still mess around with the plugin to see if there are situations where it doesn't work. Btw, were you using video.js 5.x?

[2015-11-15 23:29] ghost opened #13 "vjs-video-container should error if used in combination with the vjs-video directive"
A common mistake when using the `vis-video-container` directive is to also attempt to use `vis-video` on the internal video tag like the following:

[code]

This is incorrect and will lead to unpredictable behavior. To deter users from making this mistake, an error should be thrown to warn the user before going any further.

[2015-11-16 04:18] #13 closed, assigned to nobody

[2015-11-20 01:41] #12 closed, assigned to nobody

[2015-12-01 03:54] ghost opened #15 "An error is thrown when using the container aspect-ratio attribute with video.js 5.x"
The following internal Angular error is thrown when using the `aspect-ratio` attribute in conjunction with video.js 5.x and the `vis-video-container` directive.

[code]

[2015-12-01 04:16] #15 closed, assigned to nobody

[2015-12-01 04:37] ghost opened #17 "Add convenient reference to controlBar for the vjsVideoReady event"
It's common to access the controlBar reference of the video.js player when manipulating the player's appearance. The callback fired for the vjsVideoReady event should provide a convenient reference to the controlBar object.

[2015-12-01 12:10] #17 closed, assigned to nobody

[2015-12-01 12:18] ghost opened #19 "Add vjs-ratio support to vjs-video directive"
Currently, `vjs-ratio` is only supported with the `vjs-video-container` directive however since [video.js](http://videojs.com) 5.x supports a  responsive container natively, the `vis-ratio` attribute could act as a convenient way to pass in the ratio when using 5.x.

[2015-12-03 04:13] #19 closed, assigned to nobody

[2015-12-12 09:53] howardkitto opened #21 "Runtime Properties"
This directive is great! It saved me so much time.

I need to log information about HLS playback quality. What is the best way for me to display the video.js runtime properties for example player.hls.segmentXhrTime, player.hls.bandwidth, player.hls.bytesReceived while the video is playing?

Huge thanks

[2015-12-12 15:14] ghost commented on #21
Hi @howardkitto, glad to see it's helpful.

To get a reference to runtime properties you can listen for the `vjsVideoReady` event to fire. Note that if you are managing more than one video you may need to add additional logic if (such as checking the id of the video) to determine which video the callback is handling. It should work something like the following from within the controller/directive

[2015-12-12 15:22] ghost opened #22 "Add a reference to the player object in vjsVideoReady callback"
A direct reference to the player object should be exposed from the `vjsVideoReady` callback as a convenience since it is referenced often.

[code]

[2015-12-13 12:33] howardkitto commented on #21
Thanks so much, this helps a lot however I can't figure out how to get at the hls runtime data or even find any examples!

[2015-12-13 13:29] ghost commented on #21
@howardkitto are you using [this](https://github.com/videojs/videojs-contrib-hls)?

If so you_should_ be able to access the hls data like so (although I haven't tested using hls data myself):

[code]

[2015-12-13 14:30] howardkitto commented on #21
Yes that's exactly what I tried first of all but I get:

e.data.vid: undefined

[2015-12-13 16:55] ghost commented on #21
Looks like I had a typo there, it shouldn't be e.data.vid but data.vid! I'll pudeste the docs!

[2015-12-13 17:37] ghost commented on #21
Looks like if you copied the code the e.dva.vid is just the comment, are you getting a non null value for the data.vid variable?

[2015-12-14 13:17] howardkitto commented on #21
Hey Lonny

I'm pretty new to Angular, so some of this is black magic to me! In Test A
I have this:
-   var app = angular.module('videoPlayer', ['vjs.video']);*
  -            app.controller('swapSource', ['$scope', function(scope) {*
- ```
          scope.$on('vjsVideoReady', function (e, data) {*
[code]
- ```
     });*
[code]
- ```
          console.log('data.vid:',
[code]

and when the page load

[2015-12-16 11:59] ghost commented on #21
@howardkitto Out of curiosity, is this only an issue when used with the directive? If so I wonder if there is an issue with how the video.js hls plugin is getting initialized.

[2015-12-16 14:36] howardkitto commented on #21
@LonnyGomez

Here is the absolute simplest angular video.js app I can think of with
handlers for a couple of events. It isn't catching the events so I guess I
am missing something pretty fundamental.

<!Doctype html>
<head>
<title>
    Video Player
    </title>
<link rel="stylesheet" href="css/bootstrap.css">
<script src="js/angular.js"></script>

</head>
<body>
<div class = 'container' ng-app='vi

[2016-01-06 03:16] #22 closed, assigned to nobody

[2016-01-19 18:00] dkarchmer opened #25 "How to get player instance"
Hi,
Your documentation indicates to use:

[code]

but data.player comes back as undefined. Instead, if I use `data.vid.player()`, it works, but your note indicates that we should not use vid.
Using vjs-video 0.1.4 and video.js 5.5.3.
Thanks,

[2016-01-20 02:24] ghost commented on #25
Thanks for calling this out. I think the issue is that the master branch is ahead of v0.1.4. I was waiting to add another feature before I did another release but I may just push out v0.1.5 which should work as mentioned in the README on the master branch.

[2016-02-05 10:47] JohnBernardsson opened #26 "How to use the "Player" API?"
Hi, first of all, thanks for this directive :)

I've been a while playing around with this, but I definitely don't know how to do it. I need to access the methods of the Player API : http://docs.videojs.com/docs/api/player.html, so I can manually control the position of the video, get the video currentTime, etc.

My last try was something like this:

[code]

But I am getting the following error:

[2016-02-05 11:19] ghost commented on #26
hi @EvilJohnny,

The way it works is the `videoData.vid` parameter _is_ a reference to the player api. I don't think you were alone in this confusion which is why the `vid` parameter is going to be deprecated and renamed to `player` to make it clear what element the parameter refers to.

With that said, you should be able to get the current time like this:

[code]

I will try to update the documen

[2016-02-08 15:35] JohnBernardsson commented on #26
I see! Sweet!

Then the problem might be a different one... Because if I call `videoData.duration()` it returns undefined. But I think that's because I am using ng-src in the element, like this:

[code]

So 'vjsVideoReady' is fired but seems that "ng-src" still didn't add the correct url to the src attribute (at some point it does, because the video loads and plays clicking on play button).

Any c

[2016-02-08 15:50] JohnBernardsson commented on #26
Solved it with this workaround:

[code]

And in the `scope.loadVideo` I can call `videoData.vid.load()`, for example, to get the video start loading automatically :smiley:

[2016-02-09 13:31] ghost commented on #26
Hmm, what version of video.js are you using? I think I may have found a bug with the timing on when `vjsVideoReady` is fired with video.js 5.x.

[2016-02-09 20:01] JohnBernardsson commented on #26
The version is 4.2 :smiley:

Anyways the workaround is pretty easy.

[2016-02-10 12:43] ghost commented on #25
Ended up pushing out v0.1.5 where this issue was resolved. Thanks for the heads up!

[2016-02-10 12:43] #25 closed, assigned to nobody

[2016-02-23 15:00] ghost opened #27 "Great resource but $destroy should be added to the docs"
I had to read the source code to understand the API. I just think the docs could use a little bit of love. One example is the $destroy event. It  is in the source but not in the docs.

That said this directive saved me a TON of time and thanks for making it.

[2016-02-24 04:24] ghost commented on #27
@webDevRN Thanks for the feedback. I can update the docs to explain that the $destroy event triggers the video.js depose action. Were there any other things in particular that you found unclear? Also, do you have any suggestion for examples that I could add [here](http://lonnygomes.github.io/vjs-video/)?

[2016-02-24 05:07] ghost commented on #27
Many of the event triggers were not defined, such as 'vjsVideoMediaChanged'. Other than that everything was really good.

[2016-05-03 14:52] rubogorn opened #28 "How to load video without controls"
Hi,

i wanted to load the video without the controls. I tried it by setting the options. But it didn't work this way.

[code]

[2016-05-03 15:42] rubogorn commented on #28
is it only possible with styles?

[code]

[2016-05-05 02:58] ghost commented on #28
@rubogorn How does your markup look like?  You should be able to pass in the options using the `vjs-setup` attribute. So for your example, your markup should look similar to the following:

[code]

[2016-05-08 21:40] ghost commented on #28
@rubogorn where you able to resolve your issue without using styles?

[2016-05-10 17:09] tushargosalia opened #29 "Unable to add video dynamically"
I'm developing an application using `Ionic` and in that I'm allowing user to upload videos. So for playing videos I have integrated Video.js library.

But when I try to add video like this

[code]

I get the MediaError : `The media could not be loaded, either because the server or network failed or because the format is not supported.`
The same video link I'm able to play by just using video.js li

[2016-05-11 01:27] ghost commented on #29
@tushargosalia I have never tried to load a video this way and will try to duplicate your issue. With that said, there is a more straight forward way of adding videos by making use of the [vjs-media](https://github.com/LonnyGomes/vjs-video#vjs-media) attribute.

In your situation you could have it set up like the following

#### HTML

[code]

#### JS

[code]

In doing this, you're able to leverage

[2016-05-11 05:25] tushargosalia commented on #29
@LonnyGomes Thanks a lot for quick reply. Yeah I agree with you and it's working but when I try to make video fullscreen I'm experiencing flickering issue i.e. when I tap/click on fullscreen button causes it to go on full screen for like 100ms then come back to non-fullscreen.

[2016-05-12 03:16] ghost commented on #29
@tushargosalia does this happen to be within an iframe? I've seen this behavior in those instances. If not, does this only happen when using just `video.js`?

[2016-05-12 03:46] tushargosalia commented on #29
I'm not using iframe and yeah..I think the issue is with video.js [https://github.com/videojs/video.js/issues/2887](url)

So I don't think you can do anything on this.

[2016-05-12 03:49] ghost commented on #29
Hmm, the link doesn't work, but good to know. I'm going to go ahead and close this but am going to open a new issue to improve the explanation of `vis-media`.

[2016-05-12 03:49] #29 closed, assigned to nobody

[2016-05-12 03:56] tushargosalia commented on #29
@LonnyGomes Don't click on that link just copy it..and thanks a lot for your help.

[2016-05-24 12:53] nbplopes commented on #28
ng-if does not seam to work with this

[2016-05-29 20:43] chwinnie commented on #28
Not sure if this is your problem, but I was able to remove the controls by removing the controls attribute.
So intead of
`<video class="video-js vjs-default-skin" controls preload="auto"
    vjs-video vjs-media="mediaToggle" vjs-setup="options">`

I had this:
`<video class="video-js vjs-default-skin" preload="auto"
    vjs-video vjs-media="mediaToggle" vjs-setup="options">`

[2016-05-30 11:38] nbplopes opened #30 "html5.js:1227 Uncaught (in promise) DOMException: The play() request was interrupted by a new load request."
When the vjs-media is changed we get the the following error:

html5.js:1227 Uncaught (in promise) DOMException: The play() request was interrupted by a new load request.

Its seams that a player is being added before its being disposed.

[2016-05-30 21:24] ghost commented on #30
@nbplopes I can try to replicate this. If you could pass a long a code snippet that would be helpful!

[2016-05-30 21:28] ghost commented on #28
This works for me as well. This does bring up a valid point where options should be configurable via `vis-media`. I plan on working on this a new feature so you can provide a set of options for each data-binded option.

[2016-05-31 17:07] 82253452 opened #31 "video.js was not found!"
i use the webpack  for

require('../../node_modules/video.js/dist/video.min.js');
require('../../node_modules/video.js/dist/video-js.min.css');
require('../../node_modules/vjs-video/dist/vjs-video.min.js');

but has error
Error: video.js was not found!

i don't know wat't wrong~~

[2016-05-31 20:13] Szymon-dziewonski opened #32 "On loop"
Video player on loop downloads all the time same video over and over again :/

Does anyone can help me with it please?

$scope.options = {
     loop: true,
     autoplay: true
};

![image](https://cloud.githubusercontent.com/assets/2566152/15688899/b7c02d2e-277c-11e6-9b3c-a4c42f47e119.png)

[2016-06-01 03:04] ghost commented on #32
@Szymon-dziewonski Based on your screen shot, it looks like the data is being downloaded in chunks. HTTP code 206 signifies chunked data. Take a look at [this](http://serverfault.com/questions/571554/what-does-http-code-206-partial-content-really-mean) link for more reference.

[2016-06-01 03:11] ghost commented on #31
@NateRudolph has a bit more experience with webpack than I. My hunch is that webpack isn't aware of `vis-video's` dependency on `video.js`. With that said, I can work to make `vis-video` more module friendly in the future.

[2016-06-01 03:18] ghost opened #33 "Add ability to pass in options to vjs-media"
An use case was brought up in #28 where a user wanted to be able to pass in custom `video.js` options in the `vjs-media` object. There are several reasons someone may want to do something like this and it should be added as an additional feature.

[2016-06-01 03:19] ghost commented on #28
@rubogorn I'm closing this one out but opened #33 which will allow you to pass in the options within the object that `vjs-media` points to.

[2016-06-01 03:19] #28 closed, assigned to nobody

[2016-06-16 21:34] ghost opened #34 "This script doesn't support multiple players on the same page."
This script doesn't support multiple players on the same page.

[2016-06-16 22:33] ghost commented on #34
@joshspivey what is the issue you're having? Have you taken a look at the examples page?

http://lonnygomes.github.io/vjs-video/

[2016-06-21 16:12] ghost commented on #34
This is a non issue

[2016-06-21 16:12] #34 closed, assigned to nobody

[2016-06-23 03:32] #27 closed, assigned to nobody

[2016-06-25 15:53] pliablepixels opened #38 "include issue"
Hey there, thanks for your work. I am trying to switch from videogular to videojs for an ionic project. I'm trying to follow your instructions, which suggests I include a `vjs.directive.js` but the paths are not the same.

installation:

[code]

[code]

Here is what I have included:

[code]

The problem is if I add 'vis-video' to my module deps, I get an [injector error.](https://gist.github.com/p

[2016-06-25 21:34] ghost commented on #38
@pliablepixels how are you adding the module dependency?

If your main module was called `app`, it should be like the following:

[code]

[2016-06-25 21:38] ghost opened #39 "Update vis-video site to include examples with audio tag"
The vis-video landing page should be updated to incorporate examples of using the `<audio>` introduced by a PR by @cvn.

[2016-06-25 22:47] #39 closed, assigned to nobody

[2016-06-26 21:35] pliablepixels commented on #38
hi @LonnyGomes - thanks - yes, I did specify the dependency as above. I think it may be an ordering issue of the script includes. I'll close this and re-open if I can't figure it out. Thanks.

[2016-06-26 21:35] #38 closed, assigned to nobody

[2016-06-30 15:36] plutarcociceron opened #41 "How to check the play status?"
Hi, is there a way how check if the player is paused or not?
Something like this?
$scope.$watch('vjsVideoIsPlaying', function(oldVal, newVal) {
        if (oldVal) {
            console.log('old: ', oldVal);
        }
    });

[2016-07-01 02:00] ghost commented on #41
@plutarcociceron currently the way to do what you're looking for is to get a reference to the player once it is ready. In a future update the plan is to have an angular service handle this type of logic but you to check play status for videos something like the following could work:

[code]

This stores all videos on a page in an object and adds a listener for play.

If at some later time you want

[2016-07-13 15:24] neiltron commented on #31
It looks like the error is happening because vjs-video expects videojs to be in the global scope. See: https://github.com/LonnyGomes/vjs-video/blob/d1e2ac5b3e3ddb21d4d99b178cac25fb64c39098/app/scripts/directives/vjs.directive.js#L30-L31

You should be able to fix this by just doing `window.videojs = videojs;` immediately after your `require`/`import` statement.

[2016-07-15 01:57] ghost opened #42 "Make vjs-video more module loader friendly"
Currently vjs-video doesn't play nicely with module loaders (see #31). This directive should be able to be module-loader compatible.

[2016-07-15 01:58] ghost commented on #31
@neiltron good call! I will work to address that in #42.

[2016-07-15 02:11] ghost commented on #31
[This](https://github.com/videojs/video.js/issues/2750) video.js thread is also interesting in terms of using webpack.

[2016-07-24 17:02] umutphp opened #43 "Is it possible to add custom button as an option or attribute to the directive?"
Hi,

Many thanks for this handy directive.

I want to use this directive in one of my project but I am not sure whether it is possible to add custom button as option or attribute to directive element.

[2016-07-25 02:25] ghost commented on #43
hi @umutphp, you definitely can add custom buttons. You just have to listen for the the event vjs-video fires after the player is ready. Below is some sample code on how you can add a custom button using the vis-video icon fonts. Note this is using the `video.js` 5.x API:

[code]

Take a look at [this codepen](https://codepen.io/lonnygomes/pen/qNYpam) for a working example.

Let me know if that ma

[2016-07-26 21:33] umutphp commented on #43
Many thanks for the quick answer :). It really worked for my case.

[2016-08-23 14:30] tjmcclure0501 opened #44 "Does vjs-video work in IE11"
Having some issues this software in IE11 that I need to explore.  Does vjs-video support IE11?

[2016-08-24 03:08] ghost commented on #44
@tjmcclure0501 vjs-video does support IE11. What particular issues are you having?

[2016-08-27 20:44] umutphp commented on #43
Hi @LonnyGomes ,

Is it possible to place the custom button just after the play button?

I could not find anything about button order or place in the documentation.

[2016-08-27 20:46] ghost commented on #43
hi @umutphp, currently no but that sounds like a great feature request!

Seems like you would need to pass in a name, an event handler and a className for the style. Does that sound about right?

[2016-08-27 21:27] umutphp commented on #43
Hi @LonnyGomes;

Yes, It sounds good to have such a feature.

Actually, I need fast forward and backward buttons. I think these buttons should be in default configuration.

[2016-08-28 19:22] ghost commented on #43
The more I think of this, I wonder if it would be better for things like adding custom buttons to be offloaded into a `video.js` plugin. And perhaps `vjs-video` can be extended to easily add plugins. For your purposes, I found a plugin that seems to do what you're looking for [here](https://github.com/mister-ben/videojs-seek-buttons).

[2016-08-30 14:47] #43 closed, assigned to nobody

[2016-09-09 13:52] ajay128 opened #45 "Can it support youtube video?"

[2016-10-11 18:46] ghost opened #46 "Angular 2 ?"
Not familiar with Angular 1.x so I'm having a helluva time figuring our what applies anymore ;(
I need to start a new project using videojs and angular 2.
Shall I go bark up some other tree?

[2016-10-12 14:33] ghost commented on #46
The next big update for vjs-video will be angular 2 support. In the meantime, video.js is already set up to use ES6 which should help with integration. I hope to have the new release in a couple of weeks.

[2016-10-12 14:33] ghost commented on #45
Sorry I didn't get back to you sooner. You should be able to use any video.js plugin with this directive.

[2016-10-18 13:12] chaclus opened #47 "Does it support rtmp and hls live video stream?"
video url like :
hls, http://v1.live.aisoqu.com/recordings/z1.aisoqu.00018adaf9cc22207395c61a/0_1476431379.m3u8
rtmp, rtmp://pili-live-rtmp.live.aisoqu.com/aisoqu/00018adaf9cc22207395c61a

[2016-10-19 01:08] ghost commented on #47
It _should_ work using the proper plugin. I can git it a test to confirm when I get  some time.

[2016-11-11 02:15] sathish2k opened #48 "unable to embed youtube videos"

[2016-11-12 03:48] ghost commented on #48
You should be able to to do this using the [YouTube playback technology](https://github.com/videojs/videojs-youtube).

I made a [code pen example](http://codepen.io/lonnygomes/pen/gLrpgW) demonstrating how you could go about this. Let me know if that worked for you.

[2016-11-19 08:42] phuongdev89 opened #49 "How to dispose audio of video"
I try dispose the video when click SKIP button, the player has been destroyed, but the audio still play to end

[code]

Can you help me?

[2016-11-19 23:19] ghost commented on #49
@phuong17889 I'll see if I can replicate this as well. It seems like after you depose the video _should_ stop.

[2016-11-20 00:23] ghost commented on #49
@phuong17889 It appears that I'm not able to replicate your issue. Here is a [code pen example](http://codepen.io/lonnygomes/pen/wogxme) where a video is removed after a button is clicked.

Do you by chance happen to have multiple videos on a page?

[2016-11-21 02:38] phuongdev89 commented on #49
@LonnyGomes tks for quick reply.
I see this error only happened when autoplay is trigged.
see my codepen http://codepen.io/phuong17889/pen/GNWgXx

[2016-11-21 02:55] ghost commented on #49
Thanks for updating the CodePen! This definitely appears to be a bug! I'll take a look.

[2016-11-22 04:52] phuongdev89 commented on #49
tks, but any ideas? :)
My project must be released on Nov 24.
I have to used videojs without directive, but it's still working

[2016-11-22 05:40] ghost commented on #49
I think I have a workaround for your issue. Take a look at my updated [code pen example](http://codepen.io/lonnygomes/pen/wogxme/).

The solution was to remove the autoplay from the element and add it as a setup option. It appears that things get weird when you put autoplay right on the DOM element. Let me know if that makes sense/works for you.

[2016-11-22 05:48] phuongdev89 commented on #49
It's worked

I never thought it.
any way thank you very much

[2016-11-22 05:54] ghost commented on #49
Great, I'll close this issue out.

[2016-11-22 05:54] #49 closed, assigned to nobody

[2016-11-22 05:55] ghost commented on #45
An example of how to use a youtube video is demonstrated in #48. Closing this one out.

[2016-11-22 05:55] #45 closed, assigned to nobody

[2016-12-08 21:06] sergibondarenko opened #50 "vjsVideoMediaChanged doesn't fire"
AngularJS 1.6
Video.js 5.14.1

I'm trying to reproduce the `vjs-media="mediaToggle"` example. The video plays successfully but I don't see the console message of the `vjsVideoMediaChanged` event.

[2016-12-08 21:43] sergibondarenko opened #51 "Add video sources programmatically"
Is there a way to add video sources programmatically?

[2016-12-09 01:04] ghost commented on #50
How are you looking for the event? Are you doing something like the following?

[code]

[2016-12-09 01:09] ghost commented on #51
You should be able to do so using the [vjs-media](https://github.com/LonnyGomes/vjs-video#vjs-media) attribute. Let me know if that works out for you.

[2016-12-10 10:12] sergibondarenko commented on #51
As the first step, I added two videos manually in the controller. Only the first video plays. The second doesn't play.

My goal is to have videos playing automatically, without controls, one video after another. With minimum delay between videos, ideally with no delay at all. I think the next video must be preloaded to minimize the delay. And I want to play this playlist infinitely while the web p

[2016-12-10 10:15] sergibondarenko commented on #50
I implemented it in the following way:

Controller:
[code]

View:
[code]

index.html

[code]

[2016-12-10 10:24] sergibondarenko opened #52 "Why I see controls when I disable them?"
I see video statistics and controls despite I have them disabled. How to hide all these stuff?

View:
[code]

![vjs-controls](https://cloud.githubusercontent.com/assets/5389745/21072687/33e8ae36-becb-11e6-8778-6eb5b4c8cbed.png)

Controller:
[code]

[2016-12-10 13:08] ghost commented on #51
Ok, now I understand what you're trying to do. You can use `vjs-media` to accomplish this but the way it would have to work is you have a listener for the end of a video and then you can swap out the video with the next one. The `vjsVideoMediaChanged` event will only get fired when `mediaToggle` changes.

Looking at your screenshot in #52, it appears as if you aren't loading the styles for `video.

[2016-12-10 13:12] ghost commented on #52
See my comment in #51, this appears that you don't have the styles loaded properly for `video.js`.

[2016-12-11 08:16] amitport opened #53 "crashes with angular 1.6.0 on chrome 55"
*worked with angular 1.5.9
*tried with both video.js 5.12.6 and 5.14.1

**edit**
this seems to relate to a very weird chrome issue which started after updating angular and persisted until I uninstalled chrome, deleted appData/local/chrome, and re-installed.

closing this as it is not related to vjs-video. sorry

[2016-12-11 09:48] #53 closed, assigned to nobody

[2016-12-11 13:13] ghost commented on #53
Oh thanks! You had me worried there. As a result of this, I will update the test suite to test against 1.6.

[2016-12-13 16:16] mrigo opened #54 "Video crash when in fullscreen"
Hi,
I've this code

[code]

The video starts without problem, but when I try to go fullscreen by clicking the fullscreen control button, I've this error:
[code]
<img width="1132" alt="schermata 2016-12-13 alle 17 14 54" src="https://cloud.githubusercontent.com/assets/2822656/21148205/c4d3785c-c157-11e6-88dd-86b5960d100b.png">

I'm on localhost with grunt.

What can I do?

Thanks
\m

[2016-12-13 16:24] mrigo commented on #54
Sorry, my fault, I must reload the page when the window's width change.
So I can see the video in fullscreen but then the page reloaded.
Thanks for the great library!

[2016-12-13 16:24] #54 closed, assigned to nobody

[2016-12-31 17:32] #42 closed, assigned to nobody

[2016-12-31 17:36] ghost commented on #52
Closing this out, as it appears this isn't a `vjs-video` issue.

[2016-12-31 17:36] #52 closed, assigned to nobody

[2016-12-31 17:37] ghost commented on #51
The autoplay tag appears to have been the issue

[2016-12-31 17:40] ghost opened #56 "Update README to include webpack/browserify instructions"
Now that `vjs-video` plays nicely with module loaders (#42), the README should include usage instructions.

[2017-01-02 03:26] #56 closed, assigned to nobody

[2017-01-02 03:31] ghost commented on #51
Closing this out as it appears the problem was resolved.

[2017-01-02 03:31] #51 closed, assigned to nobody

[2017-01-02 03:32] ghost commented on #31
FYI, this issue was resolve in v0.1.7 of `vjs-video` (see #42). You shouldn't have to use @neiltron's workaround any more.

[2017-01-05 01:17] ghost opened #58 "The v0.1.7 build doesn't include the correct bundled copy"
The list build wasn't included for the release `v0.1.7` so anyone point to the `dist/vjs-video.min.js` file will receive the `v0.1.6` bundle.

[2017-01-05 01:19] ghost opened #59 "video.js and angular should be included as dependencies in the package.json"
For those using front end module loaders, the `video.js` and `angular` modules should be added as dependencies.

[2017-01-07 03:50] #59 closed, assigned to nobody

[2017-01-07 03:52] ghost commented on #48
Closing this as it is resolved in the posted code pen example.

[2017-01-07 04:03] #58 closed, assigned to nobody

[2017-01-08 06:26] SquallATF opened #61 "Can not work with require.js"
In require.js typeof [define](https://github.com/requirejs/requirejs-bower/blob/2.3.2/require.js#L2058) is function not object [this](https://github.com/LonnyGomes/vjs-video/blob/master/dist/vjs-video.js#L9) check always fail.

[2017-01-10 02:56] ghost commented on #61
@SquallATF Thanks for catching this. I'll push out another release with this fix.

[2017-01-10 03:07] ghost commented on #61
@SquallATF Pushed up a quick fix. I currently don't have require.js set up and fully configured yet but If you're interested testing this solution, it can be found [here](https://github.com/LonnyGomes/vjs-video/blob/bug-61-invalid_requirejs_check-build/dist/vjs-video.min.js) on a branch named `bug-61-invalid_requirejs_check-build`.

[2017-01-14 09:56] sanjib-dev opened #62 "change video and end callback inside angular controller"
Please advice how to implement this functionalities.
this is my start initialization - working fine
`$scope.media_setup = {
    sources:
    [
        {
            src:  "https://d24uab5gycr2uz.cloudfront.net/stockmarketexperts-output/output/lecture-3-video-3-factors-of-fundamental-analysis-sd.m3u8",
            type: "application/x-mpegURL",
        }
    ]
};`

then

`$scope.changeVideo = funct

[2017-01-14 10:07] sanjib-dev commented on #62
manage to make this work like this which mentioned in an earlier post
$scope.$on('vjsVideoReady',function(e,data){
        $scope.playInstance = data.player;
        $scope.playInstance.on('ended',function(e){
            console.log('ended');
        });
    });

[2017-01-15 04:48] ghost commented on #62
@sanjib-dev So are you trying to play another video after the first one ends? If so, you can do this using `vjs-media` as mentioned in #13. Let me know if that works for you.

[2017-01-16 12:57] sanjib-dev commented on #62
I am trying to load a new video if user clicks on the next item.
my initial problem is resolved, but now can it be possible to change `vjs-setup` inside angular controller?
as i tried to load my custom playlist with local videos as well as youtube videos
one more thing.. can it be possible to add a adaptive control bar. i am using m3u8 master playlist to play videos with contrib-hls plugin

[2017-01-20 07:44] w0rldart commented on #47
@LonnyGomes any updates on this?

[2017-01-23 01:43] ghost commented on #47
@w0rldart I'll take a look this week.

[2017-01-30 00:51] #61 closed, assigned to nobody

[2017-01-30 01:14] ghost commented on #47
@w0rldart @vainly Sorry it took a bit to get back to you. I hadn't dealt with HLS sources in the past but after doing some investigation it appears that `vjs-video` should work out of the box as long as you load in the proper source handler.

Take a look at [this codepen](http://codepen.io/lonnygomes/pen/qRpbLB) to see a working example where I used [a video.js HLS source handler](https://github.c

[2017-02-06 22:37] aywengo commented on #31
The issue is still present in 0.1.9

[code]

[2017-02-07 04:57] ghost opened #64 "webpack build fails in vjs-video 0.1.9"
There appears to have been a regression bug in 0.1.9 for webpack.

[2017-02-08 01:26] ghost commented on #31
@aywengo it turns out this is a regression from trying to fix a bug with AMD module loading. I'll handle the fix in #64.

[2017-02-11 04:51] #64 closed, assigned to nobody

[2017-02-11 05:25] ghost commented on #31
@aywengo Fixed in v0.1.10

[2017-02-11 05:25] #31 closed, assigned to nobody

[2017-02-25 10:18] ajai-jayakumar opened #66 "How to add resolution toggle"
Hi,
  Thanks for providing this plugin, I wanted to add resolution toggle say SD, HD toggle with this directive I tried the following
[code]

But am not getting the media toggle as expected, kindly help in resolving this. Thanks in advance.

[2017-02-25 16:57] ghost commented on #66
@ajai-sandy I'll take a look at this shortly. I think it may be that those values aren't getting properly passed through to video.js.

[2017-03-03 09:27] piuskamil commented on #66
Same problem here.
Im trying to use https://github.com/kmoskwiak/videojs-resolution-switcher
and the problem is :
Uncaught DOMException: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.

[2017-03-25 03:28] ibnYusrat opened #67 "How to change the players width or height?"
I know this sounds very basic and silly question, I'm sorry for not being able to understand the readme correctly but can someone please help me understand how can I change the player's width/height from within the AngularJS controller?

[2017-03-25 20:57] ghost commented on #67
@ibnYusrat No worries. That just means I need to improve the documentation! You can set the height right on the video tag:

[code]

Or you can use the the [aspect ratio directive attribute](https://github.com/LonnyGomes/vjs-video#vjs-ratio) to proportionally fill the parent container of the video. The following example will set the video proportions to `16/9` and fill the parent container:

[code]

[2017-03-26 04:33] ibnYusrat commented on #67
@LonnyGomes  Thank you very much for the super-fast response. I really appreciate that. But I was actually wondering (like I wrote) about doing this from **_within the controller_** function. Using the script. Dynamically.
How can I set the height of the video to any number, or width? or one of those or both of those from inside the AngularJS controller.

Thank you in advance.

[2017-03-31 10:58] michalrames commented on #46
Hi @LonnyGomes ,
any updates on Angular 2 support please?

Cheers

[2017-03-31 11:06] ghost commented on #46
I have some thing working in dev, perhaps I an release a beta version within the next few days.

[2017-04-04 01:53] ghost commented on #67
Hi @ibnYusrat Sorry for the confusion, after I reread your issue I realized I didn't answer the question. One way to resize the video would be to put it into a surrounding div and use angular to change the size. I made an [example codepen](http://codepen.io/lonnygomes/pen/KWEXBw) where I use `vjs-ratio` to make the video responsive and then control it's size in a parent div.

Let me know if that m

[2017-04-21 16:26] marksy commented on #66
Hi @LonnyGomes, thanks for this directive, works well :) I read through the docs, but unsure how i access the video object from the controller? Would like to run the plugin @kamilo81 suggested

[2017-04-24 09:20] marksy commented on #66
[updated] how can i use videojs-resolution-switcher plugin with this directive?

sorry, nvm - released you can add plugins via `vjs-setup`

[2017-04-26 10:21] ghost commented on #66
I was trying to put together a codepen demo to demonstrate this. Perhaps I will add a section to the documentation on how to use plugins with vjs-video.

[2017-04-27 02:21] Shangxq opened #68 "hi~"
videojs v4.12.15
When I use the rtmp protocol to play video, and then switch to other video when the error, but it seems to have no effect.
error info:
VIDEOJS: Video.js: currentTime unavailable on Flash playback technology element. TypeError: this.el_.vjs_getProperty is not a function
    at subObj.api.(anonymous function) [as seeking] (http://localhost:63342/vjs/bower_components/video.js/dist/vi

[2017-04-29 13:40] simonepozzobon opened #69 "Access data gives me "An access token is required to request this resource.""
I followed the example adding this to my controller
[code]

but when I go on the console I get this error:

![schermata 2017-04-29 alle 15 38 42](https://cloud.githubusercontent.com/assets/15681390/25555892/04e47a9e-2cf2-11e7-993d-08e82551d415.png)

And it's weird seems a Facebook auth error but I'm not using Facebook auth anywhere.

Can you please help me?

thanks

[2017-04-29 13:45] simonepozzobon commented on #69
Sorry, my mistake I had to change `vjsVideoMediaChanged` to `vjsVideoReady`.
But I don't know where that Facebook error come from anyway it's not related to your code.

Sorry again

[2017-04-29 13:45] #69 closed, assigned to nobody

[2017-05-02 02:49] ghost commented on #69
No worries

[2017-05-02 02:51] ghost commented on #68
Do you have a code sample I could take a look at?

[2017-05-03 10:00] Shangxq commented on #68
_**# html:**_
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="amazeui.videojs.css" />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/video.js/dist/video-js/vide

[2017-05-03 10:01] Shangxq commented on #68
**_html_**
`<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="amazeui.videojs.css" />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/video.js/dist/video-js/video.

[2017-05-03 10:01] Shangxq commented on #68
**_html_**
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="amazeui.videojs.css" />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/video.js/dist/video-js/video.d

[2017-05-03 10:02] Shangxq commented on #68
**_js_**
`angular.module('app', ['vjs.video']).controller("MainCtrl", ["$scope", function ($scope) {
    $scope.option = {
        language: 'zh-CN',
        plugins: {
            BackBtn: {},
            NextBtn: {}
        },
        children: {
            textTrackDisplay: false,
            posterImage: false,
            errorDisplay: false,
            controlBar: {
                caption

[2017-05-03 10:03] Shangxq commented on #68
**_js_**
angular.module('app', ['vjs.video']).controller("MainCtrl", ["$scope", function ($scope) {
    $scope.option = {
        language: 'zh-CN',
        plugins: {
            BackBtn: {},
            NextBtn: {}
        },
        children: {
            textTrackDisplay: false,
            posterImage: false,
            errorDisplay: false,
            controlBar: {
                captions

[2017-05-03 10:04] Shangxq commented on #68
when click NEXT button

[2017-06-03 20:38] ghost commented on #68
Hello @Shangxq, were you ever able to resolve your problem?

[2017-06-28 21:37] lwthatcher opened #70 "registering plugins"
# Registering Plugins
I added `vjs-video` in my angular app, and it has worked great thus far. Now I'm trying to add a couple of plugins, and I can't seem to get them to work.

## Problem
I've tried registering the plugins by specifying options using the `vjs-setup` directive, and specifying these in my controller:

**HTML:**
[code]

**Component's Controller:**
[code]

The `playbackRates` paramete

[2017-06-28 22:08] lwthatcher commented on #70
## Update
I've found a workaround that seems to work, if I register the plugins *after* the player has been returned by the `vjsVideoReady` function:

[code]

[2017-06-30 02:57] ghost commented on #70
This is definitely not ideal. I will investigate the issue this weekend.

[2017-07-28 10:36] tludmetal commented on #47
First of all, thanks for the amazing player! I am checking your codepen and it is not workink for me (cannot reproduce the sample video). Also, I am no seing integration with HLS at any place. Am I losing something? Is HLS integrated at some place on your directive and the codepen is some kind of demonstration that your directive works with HLS?

Thanks again for your amazing work!

[2017-08-01 10:33] sudarsangp commented on #70
@lwthatcher It would be of great help if you could create a [plnkr](https://plnkr.co/) or [jsfiddle](https://jsfiddle.net/) to show how you have integrated the plugins (hotkeys) with vjs-video.
I am trying to figure out how to integrate [videojs-contrib-hls](https://www.npmjs.com/package/videojs-contrib-hls) plugin.

[2017-08-02 04:38] sudarsangp opened #71 "using videojs-contrib-hls plugin"
From the [documentation](https://www.npmjs.com/package/videojs-contrib-hls#getting-started)  my understanding is there is no setup required for using the **hls** plugin.

When I include the videojs-contrib-hls file and use the [videojs example](http://jsbin.com/vokipos/8/edit?html,output) it works.

But I am unable to make it work when using vjs-video. Any suggestions @LonnyGomes ?

[2017-08-02 11:18] ghost commented on #71
Take a look at this codeine example, does this help out?
https://codepen.io/lonnygomes/pen/qRpbLB

I'm currently working on a way to make it more straight forward to use plugins.

[2017-08-02 11:20] #48 closed, assigned to nobody

[2017-08-02 11:23] ghost commented on #44
IE11 has been tested and should work. Without additional feedback, I'm closing this issue.

[2017-08-02 11:23] #44 closed, assigned to nobody

[2017-08-02 11:27] ghost commented on #47
@tludmetal So the key is the source type. If you load the [the video.js HLS source handler](https://github.com/videojs/videojs-contrib-hls) after loading `video.js` and specify the type as `application/x-mpegURL` it *should* work.

[code]

[2017-08-02 11:30] ghost opened #72 "Add plugins section to documentation"
Several questions have come up over how to use plugins (#47, #66, #70, #71). Create documentation on how to integrate plugins with `vjs-video`.

[2017-08-02 11:31] ghost commented on #67
Codepen example provides a solution. Closing out.

[2017-08-02 11:31] #67 closed, assigned to nobody

[2017-08-02 12:37] sudarsangp commented on #71
It works on Safari browser but not on Chrome browser.
The reason why I think it works on Safari is because HLS is natively supported on Safari.
May I know whether the above codepen worked for you in Chrome?

[2017-08-10 08:50] sudarsangp commented on #71
@LonnyGomes I tried to use the later version of videojs (e.g. 6.2.5) and I am able to play the video in chrome.

[2017-08-10 08:50] #71 closed, assigned to nobody

[2017-08-10 11:39] ghost commented on #71
Hi @sudarsangp sorry for the late response! I did try it in Safari from codepen and had no issue.

[2017-08-11 03:40] sudarsangp commented on #71
HI @LonnyGomes no problem about the late response. Did you try it on Chrome?

[2017-08-22 05:36] yemitula opened #73 "Automatically Switch to Landscape on Fullscreen in Mobile Device #question"
Thanks for this directive!

I am using this in ionicFramework and I want to switch the device to Landscape whenever the video goes into fullscreen. I was looking for an event that fires when fullscreen is activated so that I can use that to do my device orientation switch. Looks like videojs has the isFullscreen event but how do I access it from vjs-video?

[2017-08-23 08:28] Shangxq commented on #68
I'm so sorry to reply to you so late，I switched to becoming an Java Engineer.I have no time to solve such a problem before.You are very friendly and hope to have the opportunity to communicate with you.(My English is poor, and the above comes from Google translation   ：） ）

[2017-08-28 03:33] ghost commented on #73
hi @yemitula, one way to handle this would be to listen directly for the events on the video once it's loaded.

Take a look at the following [code pen example](https://codepen.io/lonnygomes/pen/ZJqGpR?editors=1111). The gist of it is to listen for the player's like the pseudo code below:

[code]

[2017-09-01 05:40] selected-pixel-jameson commented on #47
The codepen sample provided doesn't work in Chrome. It loads in Safari because HLS is natively supported in Safari. Just an FYI

[2017-10-02 06:18] MZeeshanSiddique opened #75 "videojs-contrib-ads has not seen a loadstart event 5 seconds."
Reference to this issue https://github.com/googleads/videojs-ima/issues/424 that i fixed "videojs-contrib-ads has not seen a loadstart event 5 seconds."

Will you guys help me out, is that fixed is fine or i have to do something else.

Old Implementation
![old-implementation](https://user-images.githubusercontent.com/15931045/31066036-5be3980c-a763-11e7-8d2d-35c431302e93.jpg)

New Implementation
!

[2017-10-03 01:26] ghost commented on #75
Hi @engr-mzs, would you like to submit a pull request for this? I can merge it into the next release.

[2017-10-03 04:52] MZeeshanSiddique commented on #75
Hi @LonnyGomes , hope you are fine. yes i want to submit this change but exactly i don't know the procedure. this is my first time to submit that type of changes.

[2017-10-04 03:26] ghost commented on #75
@MZeeshanSiddique for this repository, make your change (don't include the commented out code) in your copy of `vjs-video` then you can submit a merge request. [Here](https://guides.github.com/activities/forking/) is a guide to get you started.

[2017-10-06 05:31] MZeeshanSiddique commented on #75
@LonnyGomes i submit a pull request and i made changes in app/scripts/directives/vjs.directive.js is that fine ? or i have to make changes in dist folder or not ?

[2017-10-09 14:48] ghost commented on #75
@MZeeshanSiddique sorry, I was traveling. You did it correctly, I will update dist when I build the new release. I'll take a look at it today! Thanks for the contribution!

[2017-10-09 19:51] #75 closed, assigned to nobody

[2017-10-09 20:35] ghost opened #77 "Format codebase with prettier"
Add [prettier](https://github.com/prettier/prettier) to reformat code. I figure it's worth giving it a try.

[2017-10-09 23:44] #77 closed, assigned to nobody

[2017-12-28 06:39] bernardoadc commented on #51
@sergibondarenko not to cause any controversy, but videogular does this fairly easily: http://www.videogular.com/examples/creating-a-simple-video-playlist/

[2018-01-03 11:33] ghost commented on #51
That’s a nice option. 👍🏾Currently vjs-video isn’t set up to easily manage playlists.

[2018-01-10 14:42] davidolen opened #79 "Does vjs-video support video.js version 6.x?"
The README.md file indicates current vjs-video supports video.js (4.x and 5.x).
Does it also support video.js version 6.x?

Thanks!

[2018-01-13 03:24] ghost commented on #79
@davidolen support is currently in the works. It works for basic usage but there are some issues (particularly when binding sources) that need to be addressed before it fully supports 6.x.

[2018-01-13 14:23] davidolen commented on #79
thanks!

[2018-01-13 14:23] #79 closed, assigned to nobody

[2018-01-24 06:05] mihirp1730 opened #80 "Automatically switch quality of video according to network speed"
Hello,
Anyone have idea to change the quality according to network speed,
Like youtube had.
Whenever the network speed low it will redirect to lower quality video and good strength will redirect to higher quality.

Thanks in Advance.

[2018-01-24 18:45] rlaphoenix opened #81 "changing vjs-media just removes the player"
$rootScope.vjsSources = {
        sources: [
          {
            src: "x.mp4",
            type: 'video/mp4'
          }
        ]
};

If I do the above, it just removes the player and leaves only the vjs-wrap div empty with nothing else on it. Using latest non release.

Edit:

I did some small investigating using an alert() to halt execution at points of code and it seems to be occuring aroun

[2018-01-24 21:36] rlaphoenix commented on #81
Ok dont have a fucking clue why, but if I leave the origin and compiledel vars etc completely alone (if I dont do shortcuts with em like parentContainer.append(origContent.clone());) and if I add the following after staleChild.remove(); must be after:
                        parentContainer.append($compile(origContent)(scope.$parent));

It works? WHAT?
I didnt test Poster, but the video source is

[2018-01-24 22:18] rlaphoenix commented on #81
I made a new Emit Event called vJsMediaToggleDone that emits to the scope after the append thing I did above so that I know when its appended and ready. I did a $scope.$on on it and then do a .addEventListener() to it for timeupdate and it seems to be added fine, but no events are being emitted from videojs's end after changing the sources like this.

Any ideas?

[2018-01-24 22:48] rlaphoenix commented on #81
Nevermind, the events do work!
SO I guess I found the solution?!
My events issue is that it was targeting my player id for the original initial <video></video> tag, but that ends up being a div from the changes, so simply adding _html5_api at the end of the ID for example videoPlayer_html5_api will target the <video> tag, of course you could just get the first child of the videoPlayer ID just I fi

[2018-01-24 23:03] rlaphoenix commented on #81
And again, poster updates fine too :D

[2018-01-25 03:13] ghost commented on #81
@PR4GM4 There is some tricky DOM stuff happening behinds the scenes. So all is working now?

[2018-01-25 15:27] rlaphoenix commented on #81
Yeah once I add that string of text, from what I can see, the variable for compiledEl is essentially a one time use thing, so I dont see why it works when I leave that stuff alone (Cause the .Append does nothing). So when I do the extra append from directly origContent with $compile of parent scope, it actually appends and works as expected. Maybe you should look into this a bit?

[2018-01-30 03:37] ghost opened #82 "Add support for video.js 6.0"
Currently, `vis-video` is hardcoded to only work for 4.x and 5.x. Fix this to enable support for version 6.x (related to #79).

[2018-01-30 03:43] ghost commented on #81
@PR4GM4 yeah, I'm about to do a refactor things and will take a look

[2018-02-21 04:02] rlaphoenix commented on #81
An update, seems the changes I made still cause one issue, if you change the source a 2nd time, it have staleChild return null or undefined, leaving 2 players in the source.

`Cannot read property 'remove' of undefined`

[2018-04-23 13:57] jezperp commented on #72
Any progress regarding this?

[2018-10-05 13:10] 2xSamurai opened #83 "Support for videojs 7?"
Thank you for the plugin.
Would it be possible to support the newest version of videojs (7).
Thank you.

[2019-01-04 05:18] davidolen commented on #83
It would be really useful if vjs-video can support videojs 7

[2022-05-13 05:44] #47 closed, assigned to nobody